<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title tal:content="title">title</title>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

		<style type="text/css" media="screen">
			@import "/vmi/static/src/js/datatables/extras/TableTools/media/css/TableTools.css";
			div.dataTables_wrapper { font-size: 13px; }
			table.display thead th, table.display td { font-size: 13px; }
		</style>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/css/screen_rev2.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/js/datatables/media/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/css/septa.css" />
<script src="/vmi/static/src/js/jquery.min.js"></script>
<script src="/vmi/static/src/js/jquery.csv-0.71.js"></script>
<script src="/vmi/static/src/js/csv.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/navigation.js"></script>
</head>
<body>
    <div id="wrapper">
	<div id="header">
        <div id="header-inside">
        <h1 id="icon"> <img src="/vmi/static/src/img/logo.gif" alt="SEPTA" /></h1>
        <h1 id="title">  VMI Vendor Portal </h1>
        <div id="vendor"></div>
        </div>
	</div>
    <div id="contactContent" class="container">
        <div id="list1">
            <!-- Menu bar -->
               <ul>
                  <li><a href="index">Home</a></li>
                  <li><a href="upload">Submit Packing Slip</a></li>
                  <li><a href="result">Review Packing Slips</a></li>
                  <li><a href="products">Search P/Ns</a></li>
                  <li><a href="invoice">Invoice</a></li>
               </ul>
        </div>
        <!-- Packing Slip Upload Template Begin -->
        <div id="info">
            <p id="subtitle" tal:content="title">
              Title
            </p>
            <p id="subheader" tal:content="header">
              Header
            </p>
        </div>
        <p>"This is a Invoice!!"</p>
    </div>
    </div>
</body>
</html>
