<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title tal:content="title">title</title>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

		<style type="text/css" media="screen">
			@import "/vmi/static/src/js/datatables/extras/TableTools/media/css/TableTools.css";
			div.dataTables_wrapper {
                font-size: 13px;
                /*position: absolute;
                left: 0;*/
                overflow: auto;
            }
			table.display thead th, table.display td { font-size: 13px; }

		</style>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/css/screen_rev2.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/js/datatables/media/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/vmi/static/src/css/septa.css" />
<script src="/vmi/static/src/js/jquery.min.js"></script>
<script src="/vmi/static/src/js/jquery.csv-0.71.js"></script>
<script src="/vmi/static/src/js/csv.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="/vmi/static/src/js/navigation.js"></script>
<script type="text/javascript">
    /*$(document).ready( function () {
        $('#contents').dataTable( {
            "pagingType": "full_numbers"
    } );
    } );*/
</script>
</head>
<body>
    <div id="wrapper">
	<div id="header">
        <div id="header-inside">
        <h1 id="icon"> <img src="/vmi/static/src/img/logo.gif" alt="SEPTA" /></h1>
        <h1 id="title">  VMI Vendor Portal </h1>
        <div id="vendor"></div>
        <button id="logout">Logout</button>
        </div>
	</div>
    <div id="contactContent" class="container">
        <div id="list1">
            <!-- Menu bar -->
               <ul>
                  <li><a href="index">Home</a></li>
                  <li><a href="upload">Upload Packing Slips</a></li>
                  <li><a href="result">Review Packing Slips</a></li>
                  <li><a href="products">Search P/Ns</a></li>
                  <li><a href="invoice">Invoice</a></li>
               </ul>
        </div>
        <!-- Packing Slip Upload Template Begin -->
        <div id="info">
            <p id="subtitle" tal:content="title">
              Title
            </p>
            <p id="subheader" tal:content="header">
              Header
            </p>
        </div>
        <div id="uploader" class="info" tal:condition="form_flag">
                <fieldset>
                    <legend tal:content="form_legend">Select Packing Slip File</legend>
                    <input class="form_binary_file" id="files" name="ufile" type="file"><br>
                    <output id="list"></output>
                </fieldset>
                <hr><!-- Contents of file in table from jquery-csv with DataTables control -->
                <table id="contents" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                </table>
            <br>
        </div>
          <div id="no_uploader" tal:condition="not:form_flag" class="notice">
                <p> <!-- Notify user that they cannot upload any files -->
                    <b>Packing Slips cannot be submitted at this time!</b> <br />
                </p>
          </div>
        <script type="text/javascript" tal:content="structure script">





        </script>
        <!-- Packing Slip Upload Template End -->
    </div>
    </div>
</body>
</html>
