				
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title tal:content="title">title</title>
   <!-- <link rel="stylesheet" type="text/css" media="screen"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
    <link href="/web/static/src/css/jquery-ui.css" type="text/css" rel="stylesheet" />
    <!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/black-tie/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/blitzer/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/dark-hive/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/dot-luv/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/eggplant/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/excite-bike/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/hot-sneaks/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/le-frog/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/mint-choc/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/overcast/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/pepper-grinder/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/south-street/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/start/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/sunny/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/swanky-purse/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/trontastic/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-darkness/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/vader/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
    <link href="http://www.septa.org/site/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" media="screen, projection" 
      href="/web/static/src/css/screen_rev2.css" />
    <link rel="stylesheet"  type="text/css" media="screen, projection"
      href="/web/static/src/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" 
      href="/web/static/src/css/print.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" 
      href="http://www.blueprintcss.org/blueprint/ie.css"><![endif]-->
    <script type="text/javascript" 
      src="/web/static/src/js/jquery.min.js"></script>
    <script type="text/javascript" 
      src="/web/static/src/js/jquery-ui.js"></script>
    <script type="text/javascript">
    //global variables
	    var sessionid = null;
	    var responseData = null;   
	    var postData = null; 
        
    </script>
    <script type="text/javascript" tal:content="structure script">
    
    
				

    
    </script>
    <script type="text/javascript" tal:content="structure tabs">
    
    
				

    
    </script>
    <style type="text/css">
      #loginContent { width: 575px; margin: 100px auto; 
      
      
      }
      #header h1 {text-align:center;}
      button[type] { margin: 0.5em 0; }

	#tabs { 
	    background: transparent; 
	} 
	#tabs .ui-widget-header { 
	    background: transparent; 
	    border: none; 
	    border-bottom: 1px solid #c0c0c0; 
	    -moz-border-radius: 0px; 
	    -webkit-border-radius: 0px; 
	    border-radius: 0px; 
	} 
	#tabs .ui-tabs-nav .ui-state-default { 
	    background: transparent; 
	    border: none; 
	} 
	#tabs .ui-tabs-nav .ui-state-active { 
	    background: transparent url(/web/static/src/img/uiTabsArrow.png) no-repeat bottom center; 
	    border: none; 
	} 
	#tabs .ui-tabs-nav .ui-state-default a { 
	    color: #BFBFBF; 
	} 
	#tabs .ui-tabs-nav .ui-state-active a { 
	    color: #205791; 
	}

    </style>
  </head>
  <body>
    <div id="contactContent" class="container">
<!-- Vendor contacts Data Template Begin -->
<p tal:content="title">
Title
</p>
<p tal:content="header">
Header
</p>
<h3 tal:condition="picking_id" tal:content="picking_id"></h3>
  <div id="uploader" tal:condition="form_flag" class="info">
    <form class="form_binary_form" action="/web/vmi/upload_vmi_document" method="post" enctype="multipart/form-data">
      <input type="hidden" name="callback" value="debug">
      <input type="hidden" name="doc_type" value="PS">
      <input type="hidden" name="uid" tal:attributes="value uid" value="">
      <input type="hidden" name="pid" tal:attributes="value pid" value="">
      <input type="hidden" name="sid" tal:attributes="value sid" value="">
      <input class="form_binary_file" type="file" name="ufile"><br />
      <button class="oe_button oe_field_button" type="submit" id="OBEY">
        <img src="/web/static/src/img/icons/STOCK_DIRECTORY.png">
        <span>Upload</span>
      </button> <br />
    </form> <br />
  </div>
  <div id="no_uploader" tal:condition="not:form_flag" class="notice">
		<p> <!-- Notify user that they cannot upload any docs -->
			<b>Packing Slips cannot be submitted at this time!</b> <br />
		</p>
  </div>
<script type="text/javascript" tal:content="structure script">
    
    
        

    
</script>
<!-- Vendor contacts Data Template End -->
    </div>

  </body>
</html>

